
<%= simple_form_for(@reserva) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :nif %>
    <%= f.input :direccion %>
    <%= f.input :coche %>
    <%= f.input :kilometraje %>
    <%= f.input :matriculacion %>
    <%= f.input :chasis %>
    <%= f.input :precio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
